<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3" *ngFor="let product of products">

          <div class="card w-98 mb-3">
            <div class="card-img-top">
              <div class="product-image-container mt-2">
                <img class="product-image" src="{{product.imageUrl}}" appDefaultImg>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <!--              <p class="card-text">{{product.description}}</p>-->
                <div class="price">{{product.unitPrice | currency : 'USD'}}</div>
                <a class="btn btn-outline-info primary-btn w-100" href="#">Add to Cart</a>
            </div>
          </div>

        </div>
      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div class="items">
              <label>Item per page</label> <select>
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
            </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="number">1 - 10 of 100</div>
          </div>
          <div class="col-md-1">
            <div class="arrows">
              <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
